@page "/"

<h1>Library application</h1>

<p>
    Learning project for the Udemy course "End to End ASP.NET Core API and Blazor Development"
</p>

<h3>Features</h3>

<ul>
    <li>Build a fully data driven REST Web API using cutting edge technology</li>
    <li>Build a Single Page Application client side UI using Blazor Server AND Blazor WebAssembly</li>
    <li>Connect to an existing Database using Entity Framework Core</li>
    <li>Repository Pattern and Dependency Injection</li>
    <li>Progressive Web Application with Blazor</li>
    <li>Setup Logging using NLog</li>
    <li>Setup API documentation using SwaggerUI</li>
    <li>Understand the REST design principles</li>
    <li>Understand C# and .Net Core Web Syntax</li>
    <li>Understand user Authentication using JWT (JSON Web Tokens)</li>
    <li>Store JSON Web Tokens using Local Browser Storage</li>
    <li>Handle Blazor Application User Authentication State</li>
    <li>Consume REST Web API in Blazor Application</li>
    <li>Understand how to use Models, DTOs and AutoMapper</li>
    <li>Manage Packages with NuGet Manager</li>
    <li>Setup GitHub for Source Control</li>
    <li>Migrate To .NET 5 in a few easy steps</li>
    <li>Deploy Applications and Database to Microsoft Azure</li>
</ul>
