@page "/"

<h1 class="card-title">BookStore Web App</h1>
<br />
<hr />
<br />

<p>
    This .NET version 5 application allows employees of a library to manage their inventory of books in a user-friendly manner and store their data in a SQL database.
    This is the live demo for the learning project built in the Udemy course "End to End ASP.NET Core API and Blazor Development".
    <br />
    <br />
    To get started go to the <a href="/login">Log in</a> page and log in with one of the demo accounts, then you can perform CRUD operations on the 'Authors' and 'Books' tables.
    <br />
    <br />
    <a href="https://github.com/RubenHeeren/BookStore">Link to GitHub repo</a>
    <br />
    <a href="https://www.udemy.com/course/end-to-end-aspnet-core-31-api-and-blazor-development/">Link to course</a>
</p>

<br />
<hr />
<br />
<h1>Stack</h1>

<h4>Front end</h4>
<ul>
    <li>Blazor, HTML, CSS, Bootstrap 4 and a little sprinkle of JavaScript</li>
</ul>

<h4>Back end</h4>
<ul>
    <li>REST API: ASP.NET Controllers</li>
    <li>Authentication and authorization: ASP.NET Core Identity</li>
</ul>

<h4>Database</h4>
<ul>
    <li>Microsoft SQL</li>
</ul>

<h4>Hosting</h4>
<ul>
    <li>Microsoft Azure</li>
</ul>

<br />
<hr />
<br />
<h1>Features and miscellaneous information</h1>

<ul>
    <li>Fully data driven REST Web API using cutting edge technology</li>
    <li>Single Page Application client side UI using Blazor Server AND Blazor WebAssembly</li>
    <li>Connection to an existing Database using Entity Framework Core</li>
    <li>Repository Pattern and Dependency Injection</li>
    <li>Progressive Web Application with Blazor</li>
    <li>Logging using NLog</li>
    <li>API documentation using SwaggerUI</li>
    <li>App tries to adhere to REST design principles</li>
    <li>User Authentication using JWT (JSON Web Tokens)</li>
    <li>JSON Web Tokens caching using Local Browser Storage</li>
    <li>Blazor Application User Authentication State</li>
    <li>Consuming the REST Web API in a Blazor Application</li>
    <li>Using Models, DTOs and AutoMapper</li>
    <li>Setup GitHub for Source Control</li>
    <li>Migrated from .NET Core 3.1 to .NET 5</li>
    <li>Applications and Database deployed to Microsoft Azure</li>
</ul>
