<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BookStore.UI</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @* --- ACCOUNT --- *@
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" style="line-height: 150%;">
                        <span class="oi oi-person" aria-hidden="true"></span> Logged in as <br /> @context.User.Identity.Name
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-book" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>

        @* --- APPLICATION --- *@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="authors/">
                <span class="oi oi-pencil" aria-hidden="true"></span> Authors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Books
            </NavLink>
        </li>        
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
